# Criar tabela Categoria

In [1]:
# Importar biblioteca pyodbc:
import pyodbc

In [2]:
# Classe para conexão com o banco de dados:
class ConexaoBD ():
    def conectar (self):
        return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')
# Pegar uma conexão com o banco de dados:
bd = ConexaoBD ()
conexao = bd.conectar ()

In [5]:
# Classe Categoria
class Categoria:
    def __init__(self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            create table Categoria (
            id int primary key identity (1, 1), -- identity (inicio, incremento): especifica o valor                   inicial e de incremento.
            nome varchar (32),
            descricao text
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

categoria = Categoria (conexao)
categoria.criar()

ProgrammingError: ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]Já existe um objeto com nome 'Categoria' no banco de dados. (2714) (SQLExecDirectW)")

# Exercício

* 1) Em um notebook Jupyter, crie as classes correspondentes para criação das demais
tabelas descritas na especificação do banco de dados. Os scripts para criação das tabelas
são apresentados abaixo.

In [6]:
# Classe Vendedor
class Vendedor:
    def __init__(self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            CREATE TABLE Vendedor (
            cpf varchar (14) primary key,
            nome varchar (128),
            email varchar (128),
            telefone varchar (20),
            endereco varchar (256)
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

vendedor = Vendedor (conexao)
vendedor.criar()

In [8]:
# Classe Produto
class Produto:
    def __init__(self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            CREATE TABLE Produto (
            id int primary key identity (1, 1), 
            nome varchar (128),
            descricao text,
            marca varchar (32),
            id_categoria int foreign key references Categoria (id)
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

produto = Produto (conexao)
produto.criar()

In [9]:
# Classe VendedorProduto
class VendedorProduto:
    def __init__(self, conexao):
        self.conexao = conexao

    def criar (self):
        ddl = '''
            CREATE TABLE VendedorProduto (
            id int primary key identity (1, 1), 
            cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
            id_produto int foreign key references Produto (id),
            quantidade int,
            preco decimal
            );
        '''
        with self.conexao:
            self.conexao.execute (ddl)

vendedorProduto = VendedorProduto (conexao)
vendedorProduto.criar()

* 2) Altere as classes criadas, incluindo, em cada uma delas, o método responsável por ler
todos os registros da tabela correspondente. Exemplo:

In [15]:
# Modificação da Classe Categoria
class Categoria:
    def __init__(self, conexao):
        self.conexao = conexao

    def exibir (self):
        cursor = self.conexao.cursor()
        cursor.execute("select * from Categoria")
            
        for line in cursor:
            print(line)

categoria = Categoria (conexao)
categoria.exibir()

(1, 'Peão', 'Brinquedos')

In [19]:
# Modificação da Classe Vendedor
class Vendedor:
    def __init__(self, conexao):
        self.conexao = conexao

    def exibir (self):
        cursor = self.conexao.cursor()
        cursor.execute("select * from Vendedor")
            
        for line in cursor:
            print(line)

vendedor = Vendedor (conexao)
vendedor.exibir()

('12345678922', 'Augusto', 'augusto_jvs@hotmail.com', '31975069204', 'rua radialista decio silveira - nº 202, céu azul')

In [20]:
# Modificação da Classe Produto
class Produto:
    def __init__(self, conexao):
        self.conexao = conexao

    def exibir (self):
        cursor = self.conexao.cursor()
        cursor.execute("select * from Produto")
            
        for line in cursor:
            print(line)

produto = Produto (conexao)
produto.exibir()

(1, 'Peão', 'peão de corda', 'non saber', 1)

In [21]:
# Modificação da Classe VendedorProduto
class VendedorProduto:
    def __init__(self, conexao):
        self.conexao = conexao

    def exibir (self):
        cursor = self.conexao.cursor()
        cursor.execute("select * from VendedorProduto")
            
        for line in cursor:
            print(line)

vendedorProduto = VendedorProduto (conexao)
vendedorProduto.exibir()

(1, '12345678922', 1, 5, Decimal('26'))